$black: #070707;
$white: #ffffff;
$bg: #7d7d7d;
$he: #1c1c1c;
$me: #343434;
$blue: #244974;
$blue_hover: #1b3c63;
$blue_active: #0f2845;
$red: #d64e4e;
$backdrop: rgba(0, 0, 0, 0.5);

$app_width: 375px;
$button_border_radius: 20px;
$box_border_radius: 40px;
$box_padding: 20px;